<div class="navbar navbar-default fixed-top sticky navbara">
    <img class="logo-image" src="assets/logo.png">
    <!-- <a class="navbar-brand logo-image" href="#">
        <img src="assets/logo.png" width="30" height="30" alt="">
    </a> -->
    <ul class="navbar-menu">
        <li class="navbar-links"><a href="#">Products</a></li>
        <li class="navbar-links"><a href="#">Solutions</a></li>
        <li class="navbar-links"><a href="#">Pricing</a></li>
        <a routerLink="#" class="login-button">Login</a>
        <a href="#" class="signup-button">Get Started</a>

    </ul>
    <img class="circle" src="assets/circle.svg">
</div>