<section>
    <div class="background">
        <div class="main">
            <div class="left-part">
                <div class="row1">
                    <div class="card1">
                        <app-card [imageUrl]="cardMockData[0].img_loc" [title]="cardMockData[0].title" [content]="cardMockData[0].content"></app-card>
                    </div>
                    <div class="card2">
                        <app-card [imageUrl]="cardMockData[1].img_loc" [title]="cardMockData[1].title" [content]="cardMockData[1].content"></app-card>
                    </div>
                </div>
                <div class="row2">
                    <div class="card1">
                        <app-card [imageUrl]="cardMockData[2].img_loc" [title]="cardMockData[2].title" [content]="cardMockData[2].content"></app-card>
                    </div>

                    <div class="card2">
                        <app-card [imageUrl]="cardMockData[3].img_loc" [title]="cardMockData[3].title" [content]="cardMockData[3].content"></app-card>
                    </div>
                </div>
                <div class="row3">
                    <div class="card1">
                        <app-card [imageUrl]="cardMockData[4].img_loc" [title]="cardMockData[4].title" [content]="cardMockData[4].content"></app-card>
                    </div>
                </div>
            </div>

            <div class="right-part">
                <h1 class="right-heading">Boost your business with Open</h1>
                <div class="divider"></div>
                <p class="right-para">Get your hands on a term loan that’s crafted for your business</p>
                <button class="right-button">Get an Open Account</button>
            </div>
        </div>
        <img class="wave" src="assets/sol_wave_bg.svg">
    </div>
</section>